
@media only screen and (min-width: 900px) {
    .Body{
        background-image: url("../back.jpg");
        /* height: 100%; */
        background-repeat: no-repeat;
        background-size: cover;
    }
} 
@media only screen and (max-width: 900px) {
    .Body {
        background-color: seagreen;
    }
}

.Slide{
    /* width: 100%; */
    transition: 500ms;
}

.Slide:hover{
    /* width:102%; */
    letter-spacing: 4px;
    background-color: rgb(255, 115, 0);
}

.Text{
  font: size 60px;
  font-weight:700;
  margin-bottom: 20px;
  letter-spacing: 2px;
  position: relative;
  animation: text 2s;
  animation-iteration-count: 1;
}
@keyframes text{
  0%{
    color:rgb(0, 0, 102);
    letter-spacing: 1px;
  }
  50%{
    color:rgb(155, 155, 243);
    letter-spacing: 4px;
  }
  100%{
    color:rgb(0, 0, 102);
    letter-spacing: 2px;
  } 
}

.selected{
  opacity:80%;
}
.selected:hover {
  opacity:100%;
}

.target{
  opacity:60%;
  animation-name:blink;
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
  
}

@keyframes blink{
  0%{
    opacity:60%;
  }
  50%{
    opacity:90%;
  }
  100%{
    opacity:60%;
  }
}

.knockknock{
  animation-name:knocked;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
}
@keyframes knocked{
  0%{
    transform: rotate(-5deg);
  }
  33%{
    transform: rotate(0deg);
  }
  66%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}