@media only screen and (min-width: 900px) {
    .Body{
        background-image: url("back.jpg");
        /* height: 100%; */
        /* background-repeat: no-repeat; */
        background-size: cover;
    }
}
@media only screen and (max-width: 900px) {
    .Body {
        background-color: seagreen;
    }
}

.Slide{
    /* width: 100%; */
    transition: 500ms;
}

.Slide:hover{
    /* width:102%; */
    letter-spacing: 4px;
    background-color: rgb(255, 115, 0);
}